{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "editorconfig": true,
  "endOfLine": "lf",
  "jsonRecursiveSort": true,
  "plugins": ["prettier-plugin-package-perfection", "prettier-plugin-sort-json"],
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
