{
  "plugins": [["@emotion", { "pure": true, "ssr": true }]],
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "importSource": "@emotion/react",
          "runtime": "automatic"
        }
      }
    ]
  ]
}
